btn-primary{
    background-color: #E8F75F;
  }
  mat-card{
    width: 256px
  }
  
  body{
    background-color: #E8F75F;
  }
  .mat-app-background{
    background-color: #000057;
  }
  
  .btn-primary{
    background-color: #000057;
    font-size: large;
    color: #fff;
  }
  
  mat-card{
    width: 60%;
    margin: auto;
    text-align: center;
    color:black;
    font-size: 27px;
    font-family: Arial;
    border-color: #fff;
  }
  
  .title{
    margin: auto;
    background-color: #000057;
    color: white;
  }